pandas>=2.2.0
pytest
pylint
pydocstyle
numpy>=1.26.0
matplotlib>=3.8.0
scipy
opencv-python
pillow
pyinstaller>=6.0
pymongo>=4.3.3
pyqt6
virtualbox
pyyaml
requests
jupyter
xlib
xlrd
lmfit
openpyxl
numexpr>=2.9.0
fastapi>=0.101.1
tensorflow>=2.15.0
tqdm
seaborn
PyJWT>=2.8.0
flask_jwt_extended
uvicorn>=0.23.2
tesserocr
